:root {
    --cor-primaria: #5EB647;
    --cor-secundaria: #fff;
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    font-family: 'Mulish', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    border-bottom: 2px solid #269200;
    position: sticky;
    top: 0;
    padding: 15px;

    background-color: var(--cor-secundaria);
    
}

nav ul {
    display: flex;
    gap: 73px;

    list-style: none;
}

.navbar-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;

    color: var(--cor-primaria);
}

main {
    display: flex;
    flex-direction: column;
    padding: 70px;
}

.ad-container {
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 2px solid #269200;

    padding: 16px;
    background-color: var(--cor-primaria);
}

.ad-container p {
    display: flex;
    flex-direction: row;
    gap: 35px;

    font-size: 25px;
    font-weight: 700;
    color: var(--cor-secundaria);
}

.ad-container span {    
    color: #D6FFCB;;
}

.container-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.headline img {
    max-width: 400px;
}

.headline-text {
    display: flex;
    flex-direction: column;
    gap: 60px;
    
    text-align: center;
    max-width: 400px;
    font-size: 50px;
    font-weight: 700;
}
  
.headline-text span {
    color: var(--cor-primaria);
}

.headline-text button {
    border: none;
    padding: 20px;
    margin: 0px 20px;
    border-radius: 10px;

    font-size: 30px;

    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
  }

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;

    padding-top: 230px;
}

.about img {
    max-width: 500px;
}

.about-text {
    display: flex;
    flex-direction: column;
  
    max-width: 600px;
    gap: 50px;

    font-size: 24px;
    font-weight: 500;
}

.title-text {
    font-size: 55px;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;

    padding-top: 230px;
}

.photo-gallery {
    display: flex;
}

.gallery-align {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.gallery-align img {
    max-width: 300px;
}

.gallery-align p {
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: center;
    
    width: auto;
    padding: 10px;
    
    background-color: var(--cor-primaria);
}

footer p {
    font-size: 23px;
    color: var(--cor-secundaria);
}